- title "Recipes"
- content_for(:head) do
  :javascript
    $(function() {
      var clickHandler = function(e){
        var el   = $(this),
            url  = el.attr('href');

        $.ajax({
          url: url,
          dataType: 'json',
          beforeSend: function(XMLHttpRequest) {
            el.unbind('click');
          },
          success: function(data) {
            $("#recipeTemplate")
              .unescape()
              .tmpl(data.recipes)
              .appendTo("#recipesTable");
            if (data.page === null) {
              el.parents('tfoot').remove();
            } else {
              el.attr('href', function() {
                return url.replace(/(page=)\d+/, '$1' + data.page);
              });
            }
          },
          complete: function(XMLHttpRequest, textStatus) {
            el.click(clickHandler);
          }
        });
        e.preventDefault();
      };
      
      $('#more').click(clickHandler);
    });
    
    $.fn.unescape = function() {
      return this.each(
        function(){
          $(this).text(unescape($(this).text()));
        }
      )
    }
    
%script{ :type => "text/html", :id => "recipeTemplate" }
  = render :partial => 'recipe', :object => Recipe.jquery_tmpl

%table#recipesTable
  %thead
    %tr
      %th Name
  - if @recipes.next_page
    %tfoot
      %tr
        %td= link_to "More", recipes_path(:page => @recipes.next_page), :id => "more"
  %tbody
    = render :partial => 'recipe', :collection => @recipes
  
%p= link_to "New Recipe", new_recipe_path